<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809986146078-tgbm1o8uktvi0rgaohtk1jki5efpajcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809986146078-tgbm1o8uktvi0rgaohtk1jki5efpajcj</string>
	<key>API_KEY</key>
	<string>AIzaSyBcdD8ZJMEMjBIEbcYY5aEq7fZ-pwMrH2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>809986146078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.premdas26.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-568c9</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-568c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809986146078:ios:abf0674427427295e1130f</string>
</dict>
</plist>